.label {
    -fx-font-family: 'noto sans';
}

.contributor__region {
    -fx-spacing: 10;
    -fx-padding: 5 15;
}

.contributor__section-heading {
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.contributor__section-body {
    -fx-font-size: 1.3em;
}

.contributor__input-group {
    -fx-spacing: 10;
}

.contributor__name-input {
    -fx-font-size: 1.2em;
    -fx-padding: 5 8;
}

.contributor__add-btn {
    -fx-font-size: 1.3em;
    -fx-underline: true;
    -fx-text-fill:  #015AD9;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.contributor__add-btn:hover {
    -fx-underline: false;
    -fx-background-color: #dbdbdb;
}

.contributor__add-btn .ikonli-font-icon {
    -fx-font-size: 1.5em;
    -fx-icon-color:  #015AD9;
}


.wa-list-view {
    -fx-background-color: transparent;
}

.wa-list-view .list-cell:even,
.wa-list-view .list-cell:odd {
    -fx-background-color: transparent;
    -fx-padding: 2 0;
}


.contributor-list__cell {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 6px;
    -fx-padding: 8 15;
}
.contributor-list__cell .label {
    -fx-font-size: 1.2em;
    -fx-text-fill: #707070;
}