
.icon-consume:before { content: '\e801'; } /* '' */
.icon-verse-check:before { content: '\e804'; } /* '' */
.icon-union:before { content: '\e80a'; } /* '' */
.icon-subtract:before { content: '\e80b'; } /* '' */
.icon-chunk:before { content: '\e80e'; } /* '' */
